<!-- <header>Moveable-Box-Application</header> -->

<!-- This is the main Section subdivided into two divisions -->
<div class="main-grid">
  <!-- division-1 displays the created boxes on the view -->
  <div class="boxes">
    <ng-container *ngFor="let box of activeListOfBoxes">
      <div class="box" [id]="box.id" [style.z-index]="box.index" (click)="setWindowListener(box.id)">
        <span>{{box.id}}</span>
      </div>
    </ng-container>
  </div>
  <!-- division-2 displays the button to add box on the view -->
  <div class="control">
    <button class="button" (click)="addBoxToView()">Add Box</button>
  </div>
</div>

<!-- <footer><h2></h2></footer> -->
